p {
    color: black;
    width: 270px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 10px;
}

ul li {
    font-family: "Roboto";
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    /* 90% of viewport width */
    height: 90vh;
    /* 90% of viewport height */
    max-width: 90%;
    /* Maximum width relative to viewport */
    max-height: 90%;
    /* Maximum height relative to viewport */
    margin: auto;
    /* Center horizontally */
    padding: 10px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    overflow-y: auto;
    /* Add vertical scroll if content exceeds height */
}

.tab-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.tab {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    margin-right: 5px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab.active {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    /* Solid bottom border for active tab */
    z-index: 2;
    transform: translateY(-3px);
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab-content {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
    overflow-y: auto;
}

.content {
    display: block;
}

.titanic-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.titanic-container h1,
.titanic-container h2,
.titanic-container h3,
.titanic-container p,
.titanic-container ul {
    text-align: left;
    width: 90%;
    margin-bottom: 50px;
    /* Adds space between sections */
}

.titanic-container img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.data-table {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 40px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}
