.projects-landing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 40px;
    padding-right: 40px;
}

.tab-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.tab {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    margin-right: 5px;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab.active {
    background-color: #fff;
    border-bottom: none;
    z-index: 2;
    transform: translateY(-3px);
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab-content {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
}

.content {
    display: block;
}